body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
}

#content {
  padding: 2.7em 1em;
  
}

h1  {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1.2em;
  margin: 0.4em 0;
}

p {
  font-size: 1em;
  margin: 1em 0 1em 0;
  padding-bottom: 1em;
}

#wow {
  font-style: italic;
}

#input-email {
  margin: 1em 0 1em 0;
}

#input-email input{
  box-sizing: border-box;
  width: fit-content;
  /* font-size: 1em; */
  font-family: 'Raleway', sans-serif;
  padding: 0.2em;
  /* margin: 8px 1.5%; */
  border: none;
  border-radius: 6px;
  background-color: #efefef;
}

#input-age-verification {
  margin: 1em 0 1em 0;
  font-size:0.9em;
}

#input-age-verification input[type="checkbox"] {
  height: 0.9em;
  width: 0.9em;
}

#input-submit {
  padding-top: 1em;
}
#submit {
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  border: 0;
  font-size: 1.2em;
  padding: 1em 0 1em 0;
  font-family: 'Raleway', sans-serif;
  background-color:rgb(140, 186, 224);
} 

#submit:hover {
  background-color:rgb(90, 138, 177);
}

@media screen and (min-width: 480px){

  #content {
    padding: 2.7em 0;
    margin: 0 1em;
    /* background-color: aliceblue; */
  }

  h1 {
    font-size: 4em;
  }

  p {
    font-size: 1.56em;
  }

  #input-email {
    font-size: 1.56em;
  }

  #input-email input{
    box-sizing: border-box;
    padding: 0.5em;
    /* font-size: 0.7em; */
  }

  #input-age-verification{
    font-size: 1em;
  }

  #submit{
    width: 200px;
  }

}

@media screen and (min-width: 960px){

  form{
    box-sizing: border-box;
    width: 500px;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border-radius: 10px;
  }

  h1 {
    margin-top: 0;
    font-size: 3em;
  }

  p{
    font-size: 1em;
  }

  #input-email{
    font-size: 1em;
  }

}

/* body {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: auto;
}

#content {
  width: 100%;
  padding: 3.6em 1.2em;
  
}

h1  {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 4.096em;
  line-height: 1.2em;
  margin: 0.4em 0;
}

p {
  font-size: 1.56em;
  margin: 1em 0 1em 0;
}

#wow {
  font-style: italic;
}

#input-email {
  margin: 1em 0 1em 0;
}

#input-email input{
  box-sizing: border-box;
  width: fit-content;
  font-size: 1.56em;
  font-family: 'Raleway', sans-serif;
  padding: 12px 20px;
  margin: 8px 1.5%;
  border: none;
  border-radius: 6px;
  background-color: #EFEFEF;
}

#input-age-verification {
  margin: 1em 0 1em 0;
}

#input-age-verification input[type="checkbox"] {
  height: 1em;
  width: 1em;
}

#input-submit {
  padding-top: 2em;
}
#submit {
  box-sizing: border-box;
  width: 100%;
  height: 3em;
  border-radius: 10px;
  border: 0;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  background-color:rgb(140, 186, 224);
}  

@media screen and (min-width: 900px){

  body  {
    background-color:aqua;
  }
} */


/* label {
  display: block;
  text-align: center;
  font-size: 1.5em;
  width: 97%;
  margin: 0 1.5%;
}

input {
  box-sizing: border-box;
  width: 97%;
  padding: 12px 20px;
  margin: 8px 1.5%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.fontsize {
  font-size: 1.3em;
}

@media screen and (min-width: 510px) {
  #container {
    text-align: center;
    margin: 3% auto 0 auto;
    width: 65%;
  }

  .fontsize {
    font-size: 1.2em;
  }
  
  input {
    width: 100%;
  }
  
  #submit {
    width: 30%;
    display: block;
    margin: 0 auto;
    font-size: 0.9em;
  }
}

@media screen and (min-width: 768px) {
  #container {
    width: 450px;
    float: right;
    margin-right: 3%;
  }
    
  .font-size {
    font-size: 1em;
  }
  
  #submit {
    width: 26%;
  }
} */